<div class="container-fluid mt-5">
        <h2>Sales</h2>
        <form method="GET" action="/api/sale/val" class="form-inline">
            <div class="form-group mr-3">
                <label for="storeLocation" class="mr-2">Store Location:</label>
                <input type="text" class="form-control" name="storeLocation" id="storeLocation" value="{{query.storeLocation}}" placeholder="Enter store location">
            </div>
            <div class="form-group mr-3">
                <label for="page" class="mr-2">Page:</label>
                <input type="number" class="form-control" name="page" id="page" value="{{query.page}}" placeholder="Enter page number">
            </div>
            <div class="form-group mr-3">
                <label for="perPage" class="mr-2">Per Page:</label>
                <input type="number" class="form-control" name="perPage" id="perPage" value="{{query.perPage}}" placeholder="Enter per page">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        
    </div>